<!DOCTYPE html>
<html lang="en">
<head>
	<title>Twitter Feed App</title>
	<script src="/static/jquery.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/json2.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/underscore-1.2.2.js" type="text/javascript"></script>
	<script src="/static/backbone/backbone.js" type="text/javascript"></script>
	<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>

	<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
	<link href="style.css" rel="stylesheet" type="text/css">

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="javascript:void()">Debugging Seatwork</a>
				<form class="navbar-search pull-left tweet-search">
					<input type="text" class="search-query" placeholder="Search">
				</form>
			</div>
		</div>
	</div>
	<div class="container main">
		<div class="row">
			<div class="offset2 span8">
				<h4 class="title"></h4>
				<div id="results" class="twitter-feed">
					<ul id="tweets" class="unstyled tweets-result"/>
				</div>
			</div>
		</div>

	</div>

 	<script type="text/html" id="tweet-view">
 		<li class="tweet-item">
		 	<%= text %> - <%= created_at %> 
	 	</li>
    </script>

 	<script type="text/html" id="tweet-view-pic">
 		<li class="tweet-item well">
 			<div style="width: 100%;">
	 			<div class="pull-left">
		 			<img src="<%= profile_image_url %>"></img>
	 			</div>
	 			<div class="pull-left">
				 	<p><%= text %></p>
				 	<%= relative_time %>
	 			</div>
 			</div>
	 	</li>
    </script>
    <script type="text/html" id="tweet-view-new">
		<li>
			<div class="profile-pic"><a target="_blank" href="http://twitter.com/<%= from_user %>"><img class="author_image" src="<%= profile_image_url %>" alt=""></a></div>
			<div class="tweet-body">
				<div class="twitter-name"><a class="twitter-name-link" target="_blank" href="http://twitter.com/<%= from_user %>"><%= from_user %></a>&nbsp;&nbsp;<span></span></div>
				<div class="tweet"><%= text %><<a target="_blank" href="http://twitter.com/<%= from_user %>">@<%= from_user %></a></div>
				<div class="actions">
					<span class="icon tweet-icon"></span><%= relative_time %>&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="javascript:void(0)" class="tweet-reply" title=""> Reply </a>&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="javascript:void(0)" class="tweet-retweet" title=""> Retweet </a>&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="javascript:void(0)" class="tweet-favorite" title=""> Favorite </a>
				</div>
			</div>
		</li>
    </script>
 	<script type="text/html" id="tweet-view-two">
	    <li class="tweet">
	            <span>
	 
	                <div class="head">
	                    <img class="pic" src="<%= profile_image_url %>" />
	                    <p class="userId"><%= "@" + from_user %></p>
	                 </div>
	 
	                 <div class="tail">
	                    <p><%= text %></p>
	                    <p class="created"><%= created_at %></p>
	                 </div>
	                 <hr />
	            </span>
	   </li> 
    </script>

	<script src="app.js" type="text/javascript"></script>
</body>
</html>